In [76]:
import pandas as pd
import os
from pyarrow.parquet import ParquetFile
import pyarrow as pa 
from sqlalchemy import create_engine
import time

In [42]:
os.listdir('/workspaces/dataengineering/week1')

['Dockerfile',
 '.ipynb_checkpoints',
 'yellow_tripdata_2024-01.parquet',
 'ny_taxi_postgres_data',
 'Notebook1.ipynb',
 'pipeline.py',
 'yellow_tripdata_2024-01.csv']

In [50]:
file = ParquetFile( 'yellow_tripdata_2024-01.parquet')
df = next(file.iter_batches(batch_size=10)).to_pandas()
df_iter = file.iter_batches(batch_size=100000)

In [72]:
df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')

0

In [69]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [73]:
user = 'root'
password = 'root'
host = 'localhost'
port = 5432
db = 'ny_taxi'

file = ParquetFile( 'yellow_tripdata_2024-01.parquet')
df_iter = file.iter_batches(batch_size=100000)
count = 0
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')
engine.connect()
for batch in df_iter:
    df = batch.to_pandas()
    df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    count += df.shape[0]
    print(f"After Iteration no {int(count/100000)} is {count}")

After Iteration no 1 is 100000
After Iteration no 2 is 200000
After Iteration no 3 is 300000
After Iteration no 4 is 400000
After Iteration no 5 is 500000
After Iteration no 6 is 600000
After Iteration no 7 is 700000
After Iteration no 8 is 800000
After Iteration no 9 is 900000
After Iteration no 10 is 1000000
After Iteration no 11 is 1100000
After Iteration no 12 is 1200000
After Iteration no 13 is 1300000
After Iteration no 14 is 1400000
After Iteration no 15 is 1500000
After Iteration no 16 is 1600000
After Iteration no 17 is 1700000
After Iteration no 18 is 1800000
After Iteration no 19 is 1900000
After Iteration no 20 is 2000000
After Iteration no 21 is 2100000
After Iteration no 22 is 2200000
After Iteration no 23 is 2300000
After Iteration no 24 is 2400000
After Iteration no 25 is 2500000
After Iteration no 26 is 2600000
After Iteration no 27 is 2700000
After Iteration no 28 is 2800000
After Iteration no 29 is 2900000
After Iteration no 29 is 2964624

In [74]:
pd.read_parquet("yellow_tripdata_2024-01.parquet").shape

(2964624, 19)

In [79]:
start_time = time.time()
time.time() - start_time

3.314018249511719e-05

In [86]:
def load_data(config):
    # user = config.user
    # password = config.password
    # host = config.host
    # port = config.port
    # db = config.db
    # url = config.url
    # file_name = config.file_name

    user = 'root'
    password = 'root'
    host = 'localhost'
    port = 5432
    db = 'ny_taxi'
    url=''
    file_name = 'output.parquet'
    
    os.system(f'wget {url} -O {file_name}')

    if '.parquet' in file_name:
        file = ParquetFile(file_name)
        df_iter = file.iter_batches(batch_size=100000)
    engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')
    engine.connect()
    count = 0
    start_time = time.time()
    inter_time_save = time.time()
    for batch in df_iter:
        df = batch.to_pandas()
        df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
        count += df.shape[0]
        inter_time = time.time()
        print(f"After Iteration no {int(count/100000)} is {count}. This Iteration took total {inter_time - inter_time_save} sec")
    print(f"Final Execution time is {time.time() - start_time} Sec")

In [87]:
load_data({})

After Iteration no 1 is 100000. This Iteration took total 8.823391437530518 sec
After Iteration no 2 is 200000. This Iteration took total 17.782193660736084 sec
After Iteration no 3 is 300000. This Iteration took total 26.87475562095642 sec
After Iteration no 4 is 400000. This Iteration took total 36.0573296546936 sec
After Iteration no 5 is 500000. This Iteration took total 45.20997881889343 sec
After Iteration no 6 is 600000. This Iteration took total 53.92047572135925 sec
After Iteration no 7 is 700000. This Iteration took total 63.84331703186035 sec
After Iteration no 8 is 800000. This Iteration took total 73.02567625045776 sec
After Iteration no 9 is 900000. This Iteration took total 81.7416205406189 sec
After Iteration no 10 is 1000000. This Iteration took total 91.05734419822693 sec
After Iteration no 11 is 1100000. This Iteration took total 100.41434025764465 sec
After Iteration no 12 is 1200000. This Iteration took total 109.25502800941467 sec
After Iteration no 13 is 1300000. This Iteration took total 119.11567950248718 sec
After Iteration no 14 is 1400000. This Iteration took total 128.74905562400818 sec
After Iteration no 15 is 1500000. This Iteration took total 137.58131766319275 sec
After Iteration no 16 is 1600000. This Iteration took total 147.0605685710907 sec
After Iteration no 17 is 1700000. This Iteration took total 156.63603258132935 sec
After Iteration no 18 is 1800000. This Iteration took total 165.80843329429626 sec
After Iteration no 19 is 1900000. This Iteration took total 175.5830955505371 sec
After Iteration no 20 is 2000000. This Iteration took total 185.4977617263794 sec
After Iteration no 21 is 2100000. This Iteration took total 195.19065618515015 sec
After Iteration no 22 is 2200000. This Iteration took total 205.3050947189331 sec
After Iteration no 23 is 2300000. This Iteration took total 214.46917343139648 sec
After Iteration no 24 is 2400000. This Iteration took total 224.44146585464478 sec
After Iteration no 25 is 2500000. This Iteration took total 233.93798637390137 sec
After Iteration no 26 is 2600000. This Iteration took total 243.634094953537 sec
After Iteration no 27 is 2700000. This Iteration took total 253.12737774848938 sec
After Iteration no 28 is 2800000. This Iteration took total 262.17328238487244 sec
After Iteration no 29 is 2900000. This Iteration took total 270.8685111999512 sec
After Iteration no 29 is 2964624. This Iteration took total 275.89275550842285 sec
Final Execution time is 275.89324021339417 Sec